<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     {% extends 'main.html' %}

     {% block content%}
    <h1>Home Templates</h1>

    <div>
        <div>
            {% for room in rooms%}
                <div>
                    <span>@{{room.host.username}}</span>
                    <h3>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h3>
                    {{room.topic.name}}
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock%}
</body>
</html>