{% extends 'main.html' %}

{% block content %}


{% if page == 'login' %}
    <div class="login-form">
        <div class="login-cntr">
            <h1>LOGIN</h1>
        </div>

       <form method="post" action="">
           {% csrf_token %}
           <div class="login-cntr">
                <h2>Find Your Partner</h2>
           </div>

            <div class="login-content">
                <div class="abc">
                    <label>Username:</label>
                    <input type="text" name="username" placeholder="Enter Username">

                    <label>Password:</label>
                    <input type="password" name="password" placeholder="Enter Password">
                </div>
                <input class="btn-delete" type="submit" value="Login">
            </div>

        </form>

        <div class="login-cntr">
            <p>Haven't Signed up Yet?</p>
            <a href="{% url 'register' %}">Sign Up</a>
        </div>
    </div>

{% else %}

    <div class="login-form">
        <div class="login-cntr">
            <h1>REGISTER</h1>
        </div>
       <form method="post" action="">
            {% csrf_token %}
            <div class="login-content">
            {% for field in form %}
                 <label>{{field.label}}</label>
               <div class="abc">
                   {{field}}
               </div>
            {% endfor %}
                <button type="submit" class="btn-delete" value="Register">Register</button>
            </div>


        </form>
        <div class="login-cntr"
        <p>Already Signed up?</p>
        <a href="{% url 'login' %}">Login</a>
        </div>
{% endif %}
    </div>


{% endblock %}