{% extends 'main.html' %}
{% load static %}

{%block content%}

<style>
    .profile-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        margin: 25px;
    }
</style>

    <div class="profile-container">
        <div id="topics-profile">
            {% include 'polls/topics_component.html'  %}
        </div>

        <div  class="feed-container">
            <div class="profile-main">
                <a href="{% url 'update-user' %}"><img src="{% static 'polls/images/profile.png' %}" alt="image"></a>
                <h2>{{user.username}}</h2>
                <a class="name" href="">@{{user.username}}</a>
                {% if request.user == user %}
                <a class="edit-profile" href="{% url 'update-user' %}">Edit Profile</a>
                {% endif %}
            </div>
            <div class="profile-abt">
                <h1>ABOUT</h1>
                <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi nesciunt repellat dignissimos at
                    voluptatem maxime.</P>
            </div>
            <div>
            </div>
            {% include 'polls/feed_component.html'  %}
        </div>

        <div  class="activity-container">
            {% include 'polls/activity_component.html'  %}
        </div>
    </div>

{% endblock %}