
    {% extends 'main.html' %}

    {% block content %}
    <style>
        .room-container{
           display: grid;
           grid-template-columns: 3fr 1fr;
        }
    </style>

    <div class="room-container">

        <div class="room-main">
            <div class="room-header">
                <a href="{% url 'home' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                <span style="color:#e1f6fb">STUDY ROOM</span>
            </div>

            <div class="room-content">
                <h1>{{room.name}}</h1>
                <p>{{room.description}}</p>
                <span>{{room.topic}}</span>
            </div>

            <hr>

            <div class="comment-wrapper">
                <h3>Conversation:</h3>
                <div class="msg-content">
                {% for message in room_messages %}
                    <div class="msg-head">
                        <div>
                            <small>@{{message.user}} {{message.created|timesince}} ago</small>
                        </div>
                        <div>
                            {% if request.user == message.user %}
                                <a href="{% url 'delete-msg' message.id %}">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                        <p>{{message.body}}</p>
                    {% endfor %}
                </div>
            </div>

            {% if request.user.is_authenticated %}
            <div class="comment-form">
                <form method="post" action="">
                    {% csrf_token %}
                    <input type="text" name="body" placeholder="   Write your message here....">
                </form>
            </div>
            {% endif %}
        </div>

        <div class="participants-con">
            <div class="participants-head">
                <h3>Participants</h3>
            </div>

            {% for user in participants %}
                <div>
                    <p><a href="{% url 'user-profile' user.id %}">@{{user.username}}</a></p>
            {% empty %}
                    <p>--No Participants--</p>
                </div>
            {%endfor%}
        </div>
    </div>

    {% endblock %}
